# Housing Affordability Project

### Leading questions

- What metros have the highest incidence of rent burden? Severe rent burden?
- How has the incidence of rent burden and severe rent burden changed over time?
- Do patterns emerge between a metro's incidence of rent burden and other metro-wide factors?

Install required packages for SQL functionality and Census Bureau API calls

In [1]:
%pip install pandas sqlalchemy jupysql census censusdata requests

Requirement already satisfied: pandas in c:\miniconda3\envs\housing_env\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\miniconda3\envs\housing_env\lib\site-packages (2.0.39)
Requirement already satisfied: jupysql in c:\miniconda3\envs\housing_env\lib\site-packages (0.11.1)
Requirement already satisfied: census in c:\miniconda3\envs\housing_env\lib\site-packages (0.8.24)
Requirement already satisfied: censusdata in c:\miniconda3\envs\housing_env\lib\site-packages (1.15.post1)
Requirement already satisfied: requests in c:\miniconda3\envs\housing_env\lib\site-packages (2.32.4)
Requirement already satisfied: numpy>=1.23.2 in c:\miniconda3\envs\housing_env\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\miniconda3\envs\housing_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\miniconda3\envs\housing_env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\miniconda3\envs\housing_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\miniconda3\envs\housing_env\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: prettytable>=3.12.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlparse in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (0.5.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (27.6.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\miniconda3\envs\housing_env\lib\site-packages (from jupysql) (0.2.27)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\miniconda3\envs\housing_env\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\miniconda3\envs\housing_env\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\miniconda3\envs\housing_env\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\miniconda3\envs\housing_env\lib\site-packages (from requests) (2025.6.15)
Requirement already satisfied: pyyaml in c:\miniconda3\envs\housing_env\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog>=3.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.3.3)
Requirement already satisfied: six>=1.5 in c:\miniconda3\envs\housing_env\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: backoff>=1.10.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: wcwidth in c:\miniconda3\envs\housing_env\lib\site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in c:\miniconda3\envs\housing_env\lib\site-packages (from jinja2->jupysql) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

Import packages <br>
*NOTE*: need to hide API key before committing to GitHub

In [64]:
import pandas as pd
from sqlalchemy import create_engine
from census import Census
from config import CENSUS_API_KEY

Use JupySQL and SQLAlchemy to create and establish connection to a SQLite database

In [3]:
%load_ext sql
engine = create_engine('sqlite:///housing.db')
%sql sqlite:///housing.db

Connecting to 'sqlite:///housing.db'

Import Zillow/ZORI data from CSV, save as a pandas dataframe <br>
*NOTE:* ZORI data: smoothed, seasonally adjusted, all homes

In [ ]:
zori_df = pd.read_csv('../zori_msa.csv')
zori_df.head()

In [ ]:
zori_df.to_sql('zori', con=engine, index=False, if_exists='replace')

In [ ]:
%%sql
SELECT RegionName
FROM zori
WHERE RegionName LIKE '%Seattle, WA%'
OR RegionName LIKE '%San Francisco, CA%'
OR RegionName LIKE '%New York, NY%'
OR RegionName LIKE '%Atlanta, GA%'
OR RegionName LIKE '%Phoenix, AZ%'
OR RegionName LIKE '%Austin, TX%'
OR RegionName LIKE '%Minneapolis, MN%'
OR RegionName LIKE '%Detroit, MI%'
OR RegionName LIKE '%St. Louis, MO%'

In [23]:
%sqlcmd tables

+-------------------+
|        Name       |
+-------------------+
| rent_to_income_23 |
|        zori       |
+-------------------+

In [ ]:
%%sql
DROP TABLE IF EXISTS rent_burden_23

### Imported ZORI CSV into SQLite database

==================
### Now interacting with Census Bureau API to import rent burden tables

Set up parameters for Census API pull

In [4]:
c = Census(CENSUS_API_KEY)
variables = (
    "NAME",
    "B25070_001E",  # Total
    "B25070_002E",  # Less than 10.0
    "B25070_003E",  # 10.0 to 14.9
    "B25070_004E",  # 15.0 to 19.9
    "B25070_005E",  # 20.0 to 24.9
    "B25070_006E",  # 25.0 to 29.9
    "B25070_007E",  # 30.0 to 34.9
    "B25070_008E",  # 35.0 to 39.9
    "B25070_009E",  # 40.0 to 49.9
    "B25070_010E",  # 50.0 or more
    "B25070_011E"   # Not computed
)

Pull data <br>
*rent_to_income_raw* = list type

In [5]:
rent_to_income_raw = c.acs1.get(
    variables,
    {'for': 'metropolitan statistical area/micropolitan statistical area:*'},
    year=2023
)

# Data Cleaning Process / Workflow

### Step 0: Save pulled data as a pandas dataframe

In [6]:
rent_to_income_df = pd.DataFrame(rent_to_income_raw)

### Step 1: Conduct initial inspection of data

In [7]:
rent_to_income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 13 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   NAME                                                         530 non-null    object
 1   B25070_001E                                                  529 non-null    float64
 2   B25070_002E                                                  529 non-null    float64
 3   B25070_003E                                                  529 non-null    float64
 4   B25070_004E                                                  529 non-null    float64
 5   B25070_005E                                                  529 non-null    float64
 6   B25070_006E                                                  529 non-null    float64
 7   B25070_007E                                                  529 non-null    float64
 8   B25070_008E                                                  529 non-null    float64
 9   B25070_009E                                                  529 non-null    float64
 10  B25070_010E                                                  529 non-null    float64
 11  B25070_011E                                                  529 non-null    float64
 12  metropolitan statistical area/micropolitan statistical area  530 non-null    object
dtypes: float64(11), object(2)
memory usage: 54.0+ KB

Why do columns 0 and 12 have a different non-null count?

In [8]:
rent_to_income_df.isnull().sum()

NAME                                                           0
B25070_001E                                                    1
B25070_002E                                                    1
B25070_003E                                                    1
B25070_004E                                                    1
B25070_005E                                                    1
B25070_006E                                                    1
B25070_007E                                                    1
B25070_008E                                                    1
B25070_009E                                                    1
B25070_010E                                                    1
B25070_011E                                                    1
metropolitan statistical area/micropolitan statistical area    0
dtype: int64

In [9]:
rent_to_income_df[rent_to_income_df["B25070_001E"].isnull()]

,NAME,B25070_001E,B25070_002E,B25070_003E,B25070_004E,B25070_005E,B25070_006E,B25070_007E,B25070_008E,B25070_009E,B25070_010E,B25070_011E,metropolitan statistical area/micropolitan statistical area
323,"Murrells Inlet, SC Micro Area",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34680

This Micro Area is missing data for this year. Not too relevant since it's not a part of our analysis. No harm in removing it

In [10]:
rent_to_income_df = rent_to_income_df.dropna()
rent_to_income_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 529 entries, 0 to 529
Data columns (total 13 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   NAME                                                         529 non-null    object
 1   B25070_001E                                                  529 non-null    float64
 2   B25070_002E                                                  529 non-null    float64
 3   B25070_003E                                                  529 non-null    float64
 4   B25070_004E                                                  529 non-null    float64
 5   B25070_005E                                                  529 non-null    float64
 6   B25070_006E                                                  529 non-null    float64
 7   B25070_007E                                                  529 non-null    float64
 8   B25070_008E                                                  529 non-null    float64
 9   B25070_009E                                                  529 non-null    float64
 10  B25070_010E                                                  529 non-null    float64
 11  B25070_011E                                                  529 non-null    float64
 12  metropolitan statistical area/micropolitan statistical area  529 non-null    object
dtypes: float64(11), object(2)
memory usage: 57.9+ KB

### Step 2: Rename columns

In [11]:
rent_to_income_df.rename(columns={
    "NAME": "msa_name",
    "B25070_001E": "hh_total",
    "B25070_002E": "hh_below_10",
    "B25070_003E": "hh_10_to_15",
    "B25070_004E": "hh_15_to_20",
    "B25070_005E": "hh_20_to_25",
    "B25070_006E": "hh_25_to_30",
    "B25070_007E": "hh_30_to_35",
    "B25070_008E": "hh_35_to_40",
    "B25070_009E": "hh_40_to_50",
    "B25070_010E": "hh_above_50",
    "B25070_011E": "not_computed",
    "metropolitan statistical area/micropolitan statistical area": "cbsa_code"
}, inplace=True)

In [12]:
rent_to_income_df.head()

,msa_name,hh_total,hh_below_10,hh_10_to_15,hh_15_to_20,hh_20_to_25,hh_25_to_30,hh_30_to_35,hh_35_to_40,hh_40_to_50,hh_above_50,not_computed,cbsa_code
0,"Aberdeen, WA Micro Area",7681.0,205.0,1523.0,725.0,615.0,1116.0,431.0,610.0,543.0,1512.0,401.0,10140
1,"Abilene, TX Metro Area",25067.0,522.0,1670.0,4174.0,2302.0,1957.0,1673.0,2712.0,3262.0,4861.0,1934.0,10180
2,"Adrian, MI Micro Area",7902.0,345.0,754.0,1255.0,432.0,451.0,1492.0,108.0,646.0,1443.0,976.0,10300
3,"Aguadilla, PR Metro Area",30177.0,657.0,1648.0,1811.0,2330.0,815.0,1343.0,1193.0,588.0,2924.0,16868.0,10380
4,"Akron, OH Metro Area",94990.0,3336.0,9661.0,11159.0,10435.0,9377.0,8051.0,6217.0,7753.0,23846.0,5155.0,10420

### Step 3: Add and drop columns

Adding a year column, which will be useful later after importing other years' data.

In [13]:
rent_to_income_df["year"] = 2023

Create a derived total column that contains the total amount of computed households (hh_total less not_computed) <br>
This will be the only "total" worth using for analysis

In [14]:
rent_to_income_df["hh_total_computed"] = rent_to_income_df["hh_total"] - rent_to_income_df["not_computed"]

Before deleting hh_total and not_computed, verify that my computed column is the sum of sub-columns

NOTE:
- dataframe axis=0 or axis=1?
- dataframe.all() returns true unless at least one element is false or equivalent

In [15]:
check = rent_to_income_df["hh_total_computed"] == rent_to_income_df[["hh_below_10", "hh_10_to_15", "hh_15_to_20", 
"hh_20_to_25", "hh_25_to_30", "hh_30_to_35", "hh_35_to_40", "hh_40_to_50", "hh_above_50"]].sum(axis=1)

check.all()

np.True_

In [16]:
rent_to_income_df = rent_to_income_df.drop(columns=["hh_total", "not_computed"], inplace=False)
rent_to_income_df.head()

,msa_name,hh_below_10,hh_10_to_15,hh_15_to_20,hh_20_to_25,hh_25_to_30,hh_30_to_35,hh_35_to_40,hh_40_to_50,hh_above_50,cbsa_code,year,hh_total_computed
0,"Aberdeen, WA Micro Area",205.0,1523.0,725.0,615.0,1116.0,431.0,610.0,543.0,1512.0,10140,2023,7280.0
1,"Abilene, TX Metro Area",522.0,1670.0,4174.0,2302.0,1957.0,1673.0,2712.0,3262.0,4861.0,10180,2023,23133.0
2,"Adrian, MI Micro Area",345.0,754.0,1255.0,432.0,451.0,1492.0,108.0,646.0,1443.0,10300,2023,6926.0
3,"Aguadilla, PR Metro Area",657.0,1648.0,1811.0,2330.0,815.0,1343.0,1193.0,588.0,2924.0,10380,2023,13309.0
4,"Akron, OH Metro Area",3336.0,9661.0,11159.0,10435.0,9377.0,8051.0,6217.0,7753.0,23846.0,10420,2023,89835.0

### Step 4: Filter/delete rows

For this project, I am looking at data for 9 MSAs

Since exact MSA names can change year over year, use CBSA codes, which are stable over time, for best reproducibility.
- seattle: 42660
- SF: 41860
- NYC: 35620
- atlanta: 12060
- phoenix: 38060
- austin: 12420
- minneapolis: 33460
- detroit: 19820
- st louis: 41180

In [17]:
# rent_to_income_df[rent_to_income_df["msa_name"].str.contains("st. louis", case=False, na=False)]

target_cbsa_codes = ["42660", "41860", "35620", "12060", "38060",
                     "12420", "33460", "19820", "41180"]

Boolean indexing, reassign df of 9 relevant MSAs to itself

In [18]:
rent_to_income_df = rent_to_income_df[rent_to_income_df["cbsa_code"].isin(target_cbsa_codes)]

In [22]:
rent_to_income_df.info()
rent_to_income_df

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 28 to 437
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   msa_name           9 non-null      object
 1   hh_below_10        9 non-null      float64
 2   hh_10_to_15        9 non-null      float64
 3   hh_15_to_20        9 non-null      float64
 4   hh_20_to_25        9 non-null      float64
 5   hh_25_to_30        9 non-null      float64
 6   hh_30_to_35        9 non-null      float64
 7   hh_35_to_40        9 non-null      float64
 8   hh_40_to_50        9 non-null      float64
 9   hh_above_50        9 non-null      float64
 10  cbsa_code          9 non-null      object
 11  year               9 non-null      int64
 12  hh_total_computed  9 non-null      float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1008.0+ bytes

,msa_name,hh_below_10,hh_10_to_15,hh_15_to_20,hh_20_to_25,hh_25_to_30,hh_30_to_35,hh_35_to_40,hh_40_to_50,hh_above_50,cbsa_code,year,hh_total_computed
28,"Atlanta-Sandy Springs-Roswell, GA Metro Area",21003.0,49743.0,75242.0,89727.0,81012.0,71338.0,50769.0,71975.0,222452.0,12060,2023,733261.0
34,"Austin-Round Rock-San Marcos, TX Metro Area",13440.0,29605.0,49366.0,56499.0,48003.0,42110.0,31612.0,44189.0,101072.0,12420,2023,415896.0
125,"Detroit-Warren-Dearborn, MI Metro Area",18544.0,37501.0,51746.0,56461.0,52906.0,44389.0,29309.0,39457.0,124771.0,19820,2023,455084.0
307,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",11449.0,40567.0,55334.0,65728.0,51044.0,40382.0,26336.0,38603.0,99337.0,33460,2023,428780.0
336,"New York-Newark-Jersey City, NY-NJ Metro Area",172750.0,308006.0,412797.0,404722.0,381086.0,301108.0,218866.0,299777.0,983573.0,35620,2023,3482685.0
366,"Phoenix-Mesa-Chandler, AZ Metro Area",18898.0,36680.0,62286.0,78489.0,74775.0,54728.0,44810.0,70567.0,159005.0,38060,2023,600238.0
414,"St. Louis, MO-IL Metro Area",14203.0,35854.0,43673.0,40908.0,34864.0,30308.0,21229.0,25421.0,72042.0,41180,2023,318502.0
425,"San Francisco-Oakland-Fremont, CA Metro Area",35962.0,70795.0,94297.0,95128.0,85595.0,66378.0,46364.0,66044.0,190022.0,41860,2023,750585.0
437,"Seattle-Tacoma-Bellevue, WA Metro Area",26376.0,58134.0,84136.0,81065.0,72359.0,59258.0,48272.0,55604.0,148843.0,42660,2023,634047.0

### Step 5: Deal with missing data

Not a problem for 2023

### Step 6: Reorder columns

In [26]:
desired_order = ['cbsa_code', 'msa_name', 'year', 'hh_total_computed', 'hh_below_10',
                 'hh_10_to_15', 'hh_15_to_20', 'hh_20_to_25', 'hh_25_to_30', 'hh_30_to_35',
                 'hh_35_to_40', 'hh_40_to_50', 'hh_above_50']

rent_to_income_df = rent_to_income_df[desired_order]

In [27]:
rent_to_income_df

,cbsa_code,msa_name,year,hh_total_computed,hh_below_10,hh_10_to_15,hh_15_to_20,hh_20_to_25,hh_25_to_30,hh_30_to_35,hh_35_to_40,hh_40_to_50,hh_above_50
28,12060,"Atlanta-Sandy Springs-Roswell, GA Metro Area",2023,733261.0,21003.0,49743.0,75242.0,89727.0,81012.0,71338.0,50769.0,71975.0,222452.0
34,12420,"Austin-Round Rock-San Marcos, TX Metro Area",2023,415896.0,13440.0,29605.0,49366.0,56499.0,48003.0,42110.0,31612.0,44189.0,101072.0
125,19820,"Detroit-Warren-Dearborn, MI Metro Area",2023,455084.0,18544.0,37501.0,51746.0,56461.0,52906.0,44389.0,29309.0,39457.0,124771.0
307,33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",2023,428780.0,11449.0,40567.0,55334.0,65728.0,51044.0,40382.0,26336.0,38603.0,99337.0
336,35620,"New York-Newark-Jersey City, NY-NJ Metro Area",2023,3482685.0,172750.0,308006.0,412797.0,404722.0,381086.0,301108.0,218866.0,299777.0,983573.0
366,38060,"Phoenix-Mesa-Chandler, AZ Metro Area",2023,600238.0,18898.0,36680.0,62286.0,78489.0,74775.0,54728.0,44810.0,70567.0,159005.0
414,41180,"St. Louis, MO-IL Metro Area",2023,318502.0,14203.0,35854.0,43673.0,40908.0,34864.0,30308.0,21229.0,25421.0,72042.0
425,41860,"San Francisco-Oakland-Fremont, CA Metro Area",2023,750585.0,35962.0,70795.0,94297.0,95128.0,85595.0,66378.0,46364.0,66044.0,190022.0
437,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",2023,634047.0,26376.0,58134.0,84136.0,81065.0,72359.0,59258.0,48272.0,55604.0,148843.0

### Step X: Repeat for other years

In [28]:
df_merged = pd.DataFrame()

df_merged = pd.concat([df_merged, rent_to_income_df], ignore_index=True)

In [30]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cbsa_code          9 non-null      object
 1   msa_name           9 non-null      object
 2   year               9 non-null      int64
 3   hh_total_computed  9 non-null      float64
 4   hh_below_10        9 non-null      float64
 5   hh_10_to_15        9 non-null      float64
 6   hh_15_to_20        9 non-null      float64
 7   hh_20_to_25        9 non-null      float64
 8   hh_25_to_30        9 non-null      float64
 9   hh_30_to_35        9 non-null      float64
 10  hh_35_to_40        9 non-null      float64
 11  hh_40_to_50        9 non-null      float64
 12  hh_above_50        9 non-null      float64
dtypes: float64(10), int64(1), object(2)
memory usage: 1.0+ KB

Set up a big loop, for each year (2016 to 2023):
1. extract data from census API
2. store data in dataframe
3. rename columns
4. add "year" and "total_computed" columns
5. drop "hh_total" and "not_computed" columns
6. filter to 9 msas
7. reorder columns
8. add dataframe to df_merged

note:
- check that "total_computed" is a correct sum
- expect missing values in 2020 for relevant MSAs

### Define variables needed for loop

In [66]:
c = Census(CENSUS_API_KEY)

census_variables = (
    "NAME",
    "B25070_001E",  # Total
    "B25070_002E",  # Less than 10.0
    "B25070_003E",  # 10.0 to 14.9
    "B25070_004E",  # 15.0 to 19.9
    "B25070_005E",  # 20.0 to 24.9
    "B25070_006E",  # 25.0 to 29.9
    "B25070_007E",  # 30.0 to 34.9
    "B25070_008E",  # 35.0 to 39.9
    "B25070_009E",  # 40.0 to 49.9
    "B25070_010E",  # 50.0 or more
    "B25070_011E"   # Not computed
)

target_cbsa_codes = ["42660", "41860", "35620", "12060", "38060",
                     "12420", "33460", "19820", "41180"]

column_order = ['cbsa_code', 'msa_name', 'year', 'hh_total_computed', 'hh_below_10',
                 'hh_10_to_15', 'hh_15_to_20', 'hh_20_to_25', 'hh_25_to_30', 'hh_30_to_35',
                 'hh_35_to_40', 'hh_40_to_50', 'hh_above_50']

In [67]:
df_merged = pd.DataFrame()

### Loop

In [68]:
for year_loop in [2016, 2017, 2018, 2019, 2021, 2022, 2023]:
    print(year_loop)
    
    # extract data from census API
    rent_burden = c.acs1.get(
        census_variables,
        {'for': 'metropolitan statistical area/micropolitan statistical area:*'},
        year=year_loop
    )    

    
    # store data in dataframe
    rent_burden_df = pd.DataFrame(rent_burden)

    
    # rename columns
    rent_burden_df = rent_burden_df.rename(columns={
        "NAME": "msa_name",
        "B25070_001E": "hh_total",
        "B25070_002E": "hh_below_10",
        "B25070_003E": "hh_10_to_15",
        "B25070_004E": "hh_15_to_20",
        "B25070_005E": "hh_20_to_25",
        "B25070_006E": "hh_25_to_30",
        "B25070_007E": "hh_30_to_35",
        "B25070_008E": "hh_35_to_40",
        "B25070_009E": "hh_40_to_50",
        "B25070_010E": "hh_above_50",
        "B25070_011E": "not_computed",
        "metropolitan statistical area/micropolitan statistical area": "cbsa_code"
    }, inplace=False)    

    
    # add "year" and "total_computed" columns
    rent_burden_df["year"] = year_loop
    rent_burden_df["hh_total_computed"] = rent_burden_df["hh_total"] - rent_burden_df["not_computed"]

    
    # drop "hh_total" and "not_computed" columns
    rent_burden_df = rent_burden_df.drop(columns=["hh_total", "not_computed"], inplace=False)

    
    # filter to 9 msas
    rent_burden_df = rent_burden_df[rent_burden_df["cbsa_code"].isin(target_cbsa_codes)]

    
    # reorder columns
    rent_burden_df = rent_burden_df[desired_order]

    
    # add dataframe to df_merged
    df_merged = pd.concat([df_merged, rent_burden_df], ignore_index=True)

print("done")

2016
2017
2018
2019
2021
2022
2023

In [69]:
df_merged.head()

,cbsa_code,msa_name,year,hh_total_computed,hh_below_10,hh_10_to_15,hh_15_to_20,hh_20_to_25,hh_25_to_30,hh_30_to_35,hh_35_to_40,hh_40_to_50,hh_above_50
0,19820,"Detroit-Warren-Dearborn, MI Metro Area",2016,506895.0,20173.0,48142.0,66324.0,65809.0,51797.0,43616.0,31464.0,46630.0,132940.0
1,41180,"St. Louis, MO-IL Metro Area",2016,330011.0,15962.0,32938.0,46123.0,44480.0,39146.0,25854.0,21895.0,28795.0,74818.0
2,41860,"San Francisco-Oakland-Hayward, CA Metro Area",2016,752093.0,39884.0,72610.0,102225.0,100233.0,85421.0,64276.0,47431.0,65088.0,174925.0
3,42660,"Seattle-Tacoma-Bellevue, WA Metro Area",2016,569235.0,19758.0,48147.0,77595.0,84380.0,73227.0,54981.0,36522.0,50927.0,123698.0
4,33460,"Minneapolis-St. Paul-Bloomington, MN-WI Metro ...",2016,404021.0,14308.0,37762.0,55986.0,61677.0,49631.0,38184.0,25435.0,33641.0,87397.0

### Check for missing data and validity of computed column

In [71]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cbsa_code          63 non-null     object
 1   msa_name           63 non-null     object
 2   year               63 non-null     int64
 3   hh_total_computed  63 non-null     float64
 4   hh_below_10        63 non-null     float64
 5   hh_10_to_15        63 non-null     float64
 6   hh_15_to_20        63 non-null     float64
 7   hh_20_to_25        63 non-null     float64
 8   hh_25_to_30        63 non-null     float64
 9   hh_30_to_35        63 non-null     float64
 10  hh_35_to_40        63 non-null     float64
 11  hh_40_to_50        63 non-null     float64
 12  hh_above_50        63 non-null     float64
dtypes: float64(10), int64(1), object(2)
memory usage: 6.5+ KB

In [72]:
check = df_merged["hh_total_computed"] == df_merged[["hh_below_10", "hh_10_to_15", "hh_15_to_20", 
"hh_20_to_25", "hh_25_to_30", "hh_30_to_35", "hh_35_to_40", "hh_40_to_50", "hh_above_50"]].sum(axis=1)

check.all()

np.True_

In [ ]:
rent_to_income_df.to_sql('rent_to_income_2023', con=engine, index=False, if_exists='replace')

In [ ]:
%%sql
SELECT msa_code, msa, total_households, less_10, at_least_50, 2023 AS year
FROM rent_to_income_23
WHERE msa LIKE "%seattle%"
    OR msa LIKE "%san francisco%"
    OR msa LIKE "%new york%"
    OR msa LIKE "%atlanta%"
    OR msa LIKE "%phoenix%"
    OR msa LIKE "%austin%"
    OR msa LIKE "%minneapolis%"
    OR msa LIKE "%detroit%"
    OR msa LIKE "%st. louis%"